/* Here you apply all kinds of styling to your app UIs */
html {
  scroll-behavior: smooth;
}

header {
  text-align: center;
}

.books-list {
  border: 1px solid black;
  width: 90%;
  margin-left: 5%;
}

.bookLabel:nth-child(2n + 1) {
  background-color: rgba(94, 87, 87, 0.671);
}

.newBook {
  width: 90%;
  margin-left: 5%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-creator {
  width: 25%;
  padding: 5px;
}

.line {
  margin-top: 30px;
  width: 200px;
  border-top: 1px solid black;
}

form h2 {
  width: 100%;
  text-align: center;
}

input {
  width: 100%;
  margin: 5px 0;
  height: 30px;
  box-sizing: border-box;
}

.btn {
  width: 120px;
  margin-left: 100%;
  transform: translateX(-100%);
  padding: 5px 20px;
  box-sizing: border-box;
  margin-top: 5px;
  display: flex;
  align-items: center;
}
